@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Roboto+Condensed:wght@300;400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: "Roboto Condensed", sans-serif;
}
span {
  color: rgb(48, 161, 206);
  font-family: "Kalam", cursive;
}
.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta {
  display: inline-block;
  padding: 10px 5px;
  margin-top: 20px;
  color: white;
  background-color: rgb(48, 161, 206);
  border: 2px solid white;
  font-size: 2rem;
  text-transform: uppercase;
  transition: 0.3s ease transform;
  border-radius: 0.5rem;
}
.cta:hover {
  /* background-color: transparent; */
  transform: scale(1.3);
}
a {
  text-decoration: none;
}
p {
  /* color: rgb(236, 228, 228); */
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
h1 {
  color: rgb(236, 228, 228);
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  /* img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
} */
}
/* Header section */
#header {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: #3b363675;
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  flex-wrap: nowrap;
  padding: 0 10px;
  /* background-color: #3b363675; */
}
#header .nav-list ul {
  list-style-type: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  color: rgb(48, 161, 206);
  /* transform: scale(1.1); */
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
/* End of header section */
/* welcome section */
#main {
  background-image: url(images/back.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
#main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: -1;
}
#main .main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

/* End of welcome section */

/* About section */
#about .about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
}
#about .content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#about .content p {
  margin-left: 20px;
}
#about .about h1 {
  color: rgb(107, 6, 26);
}
#about .card {
  margin-top: 40px;
}
#about .card-bottom {
  margin: 30px 0 30px 0;
}
#about .card-bottom h2 {
  letter-spacing: 0.1rem;
}
#about .card-item img {
  transition: 0.3s ease transform;
}
#about .card-item:hover img {
  transform: scale(1.1);
}
/* End of about section */
/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer p {
  font-size: 0.9rem;
  padding-bottom: 10px;
}
/* End of footer */
/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
/* End of Keyframes */
/* Media Query for Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
  }
  #main h1 {
    font-size: 4rem;
  }

  #header .brand {
    margin-left: 40px;
  }
  /* About section */
  #about .about .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 10px; */
  }
  #about .about .card-item {
    margin: 10px;
  }
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* End of About Section */
}
/* End Media Query for Tablet */

/* Media Query for Desktop */

@media only screen and (min-width: 1200px) {
  #header .brand {
    /* margin-left: 80px; */
  }
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.5rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* End header */
}
/*End of Media Query for Desktop */
